beautifulsoup4==4.12.3
fastapi==0.109.2
jaconv==0.3.4
mutagen==1.47.0
platformdirs==4.2.0
PyQt5_Frameless_Window==0.3.7
PyQt6_Frameless_Window==0.3.1
PyQt_Fluent_Widgets==1.4.1
PySide6_Fluent_Widgets==1.2.7
PySideSix_Frameless_Window==0.3.2
pytest==8.0.1
pytube==15.0.0
rich==13.7.0
spotipy==2.23.0
starlette==0.37.1
syncedlyrics==0.8.0
traitlets==5.14.1
typing_extensions==4.9.0
uvicorn==0.27.1
yt_dlp==2023.12.30
ytmusicapi==1.5.2
